PORT=3000

MONGO_USER=test
MONGO_PASSWORD=test@123
MONGO_CLUSTER=your-cluster.xxxxx.mongodb.net
MONGO_DB=e_commerce
MONGO_APP_NAME=Cluster0

MYSQL_DB=e_commerce
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_HOST=localhost
MYSQL_DIALECT=mysql

JWT_SECRET=jwt_secret